<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance Academy</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav id="navbar">
        <ul>
          <div id="logo"><img src="../static/IMG/logo.png" alt="Saksham Dance Academy"></div>
          <li><a href="../index.html">Home</a></li>
          <li><a href="./about.html">About</a></li>
          <li><a href="./services.html">Services</a></li>
          <li><a href="./classes.html">Classes</a></li>
          <li><a href="./contact.html">Contact Us</a></li>
        </ul>
      </nav>
      <footer id="footer">Copyright &copy; 2020 www.SakshamDanceAcademy.com | All rights reserved.</footer>
</body>
</html>