<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/styleContact.css">
</head>

<body>
    <nav id="navbar">
        <ul>
            <div id="logo"><img src="../static/IMG/logo.png" alt="Saksham Dance Academy"></div>
            <li><a href="../index.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./services.html">Services</a></li>
            <li><a href="./classes.html">Classes</a></li>
            <li><a href="./contact.html">Contact Us</a></li>
        </ul>
    </nav>
    <div id="container">
        <h1 id="header">Contact us</h1>
        <form action="" id="contactForm">
            <input type="text" class="myInput" name="name" placeholder="Enter your name">
            <input type="tel" class="myInput" name="phone" placeholder="Enter your mobile no.">
            <input type="email" class="myInput" name="email" placeholder="Enter your E-mail Id">
            <input type="text" class="myInput" name="address" placeholder="Enter your address">
            <input type="text" class="myInput" name="desc" placeholder="Enter your concern">
            <button class="btn" type="reset">Reset Now</button>
            <button class="btn" id="btn_sub" onclick="submit()" type="submit">Submit</button>
        </form>
    </div>
    <footer id="footer">Copyright &copy; 2020 <a href="../index.html">&nbsp;www.SakshamDanceAcademy.com
            &nbsp;</a> | All rights reserved.</footer>
</body>
<script src="../static/index.js"></script>
</html>